<div class="container">
    <div class=".col-xs-4 .col-md-offset-2">
        <div class="panel panel-default panel-info Profile">
            <div class=""> My Profile </div>
            {{!-- <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> Profile successfully saved
            </div>
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Oops!</strong> Profile not saved. Try later.
            </div> --}}
            <div class="panel-body">
                <div class="form-horizontal">
                    <form method="POST" action="/admin/profile">
                        {{> messages}}
                       

                        <div class="form-group mb-3">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="email" placeholder="Email"
                                    value="{{email}}">
                            </div>
                        </div>
                      
                        

                        <div class="form-group mb-3">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- end form-horizontal -->
            </div> <!-- end panel-body -->

        </div> <!-- end panel -->


    </div> <!-- end size -->
</div> <!-- end container-fluid -->