<div class="container mt-4">
    
{{#each contracts}}
  {{this.dataValues.user.dataValues.name}}
  {{#each services}}
  {{this.dataValues.name}}
  {{this.dataValues.fee}}
      
  
  
  {{/each}}
  
{{/each}}

</div>