
{{> messages}}
<div class="container mt-4">
    <a href="/admin/services/create" class="btn btn-primary">
    <span><i class="fas fa-hands-helping"></i></span>
    Add Service</a>
    
    <a href="/admin/company/create" class="btn btn-primary">
    <span><i class="fas fa-building"></i></i></span>
    Add Company</a>
    
    <a href="/admin/contract/create" class="btn btn-primary">
    <span><i class="fas fa-file-contract"></i></span>
    Add Contract</a>
    
      <a href="/admin/category/create" class="btn btn-primary">
    <span><i class="fas fa-filter"></i></span>
    Add Category</a>
</div>




