<div class="error-div">
    {{> messages}}
        <h1>SERVER ERROR</h1>
        <P> Go Back To Dashboard</P>
        <a href="/admin/dashboard" class="btn btn-warning">	&#8592; Dashboard</a>
   
</div>